@page "/"



<div class="row">
    <div class="col-md-8">
        <BlazorUI.Pages.Headers.HeaderCarousel/>
    </div>
    <div class="col-md-4 d-flex flex-column justify-content-center bg-danger">
        <BlazorUI.Pages.Headers.HighLights/>
    </div>
</div>


<div id="topSellers" class="mt-3">

    <h3>Çok Satanlar</h3>

    <div class="row">
        <BlazorUI.Pages.Games.TopSellers />
    </div>
</div>


