
<div class="game-detail bg-dark p-3">

    <div class="game-detail-header">
        <img src="https://cdn.webtekno.com/media/cache/content_detail_v2/article/56259/the-witcher-in-netfilx-versiyonundaki-geralt-ilk-defa-gosterildi-1541007852.jpg" class="company-img">

        <h3 class="text-light p-3 d-inline">The Witcher</h3>
    </div>

    <hr class="border-2 text-light"/>

    <div class="game-detail-body">

    </div>

</div>

@code {


    [Parameter] public GameViewModel Game { get; set; }


}
