<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <iframe style="width:100%; height:100%;" src="https://www.youtube.com/embed/TJFVV2L8GKs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="carousel-item">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoLWPfPwjdm3N82vv7GBqy3ins0tJGZhuVlryZVeEQzkaNEA5zVLVoK9xAWvWKQQp67DM&usqp=CAU" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="http://img.bolumsonucanavari.com/images/Upload/7d0cd06d-d6dc-4ab2-9d1c-2611e1eb79ed.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

@code {

}
