
<h4 class="text-center">Burası boş</h4>

@*@for (int i = 0; i < 4; i++)
{
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://iasbh.tmgrup.com.tr/387007/650/344/1/0/612/321?u=https://isbh.tmgrup.com.tr/sbh/2019/08/01/pubg-sistem-gereksinimleri-neler-2019-pubg-kac-gb-yer-kapliyor-1564649519848.jpg" class="img-fluid rounded-start" alt="..." style="height:100%">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">lorem ipsum dolor sit</p>
                </div>
            </div>
        </div>
    </div>
}*@
@code {

}
